*.py[ciod]
__pycache__
*.egg-info
.venv
.coverage
.vscode
htmlcov
*,cover
.cache
.pytest_cache/

*.so
*.dll
*.dylib

build
dist
MANIFEST

/tunables/wpilib.pc
/tunables/trampolines
/tunables/version.py
/tunables/tunables.pc
/tunables/_init__tunables.py
