
*.py[ciod]
*.egg-info

*.dll
*.so
*.dylib
py.typed

/build
/dist

/.vscode

/wpilib/buttons/rpy-include
/wpilib/buttons/_init_commands_v1_buttons.py
/wpilib/buttons/pkgcfg.py

/commands2/_init_impl.py
/commands2/include
/commands2/lib
/commands2/rpy-include
/commands2/pkgcfg.py
/commands2/version.py
