*.py[ciod]
__pycache__
*.egg-info
.venv
.coverage
.vscode
htmlcov
*,cover
.cache
.pytest_cache/

*.so
*.dll
*.dylib

build
dist
MANIFEST

/wpilib_drivers/trampolines
/wpilib_drivers/version.py
/wpilib_drivers/drivers.pc
/wpilib_drivers/_init__drivers.py
