*.py[ciod]
__pycache__
*.egg-info
.venv
.coverage
.vscode
htmlcov
*,cover
.cache
.pytest_cache/

*.so
*.dll
*.dylib

build
dist
MANIFEST


/telemetry/wpilib.pc
/telemetry/trampolines
/telemetry/version.py
/telemetry/telemetry.pc
/telemetry/_init__telemetry.py
