black
build
click
packaging
pytest
requests
tomlkit
tomli
toposort
validobj~=1.2
wheel

delocate; platform_system == 'Darwin'

hatch-meson @ git+https://github.com/virtuald/hatch-meson@more-macos-cross-binaries
semiwrap @ git+https://github.com/robotpy/robotpy-build@semiwrap
hatch-robotpy @ git+https://github.com/robotpy/hatch-robotpy@main
hatch-nativelib @ git+https://github.com/robotpy/hatch-nativelib@rm-macos-relink
ninja
msvc-runtime>=14.42.34433; platform_system == 'Windows'
