black
build
click
packaging
pytest
requests
tomlkit
tomli
toposort
validobj~=1.2
wheel

semiwrap @ git+https://github.com/robotpy/robotpy-build@semiwrap
hatch-meson
hatch-robotpy @ git+https://github.com/robotpy/hatch-robotpy@limited-strip
hatch-nativelib @ git+https://github.com/robotpy/hatch-nativelib@main
ninja
msvc-runtime>=14.42.34433; platform_system == 'Windows'
