black
click
packaging
pytest
requests
tomlkit
tomli
toposort
validobj~=1.2
wheel

semiwrap @ git+https://github.com/robotpy/robotpy-build@semiwrap
hatch-robotpy @ git+https://github.com/robotpy/hatch-robotpy@main
hatch-nativelib @ git+https://github.com/robotpy/hatch-nativelib@rm-macos-relink