
*.pyc
*.egg-info

*.dll
*.so
*.dylib

.vscode

/build
/dist
*.egg-info

/halsim_ws/version.py

/halsim_ws/server/_init_server.py
/halsim_ws/server/pkgcfg.py
/halsim_ws/server/include
/halsim_ws/server/lib

/halsim_ws/client/_init_client.py
/halsim_ws/client/pkgcfg.py
/halsim_ws/client/include
/halsim_ws/client/lib
