*.py[ciod]
__pycache__
*.egg-info
.venv
.coverage
.vscode
htmlcov
*,cover
.cache
.pytest_cache/

*.so
*.dll
*.dylib

build
dist
MANIFEST

/robotpy_fields/trampolines
/robotpy_fields/version.py
/robotpy_fields/fields.pc
/robotpy_fields/_init__fields.py
