*.py[ciod]
*.egg-info
__pycache__
.vscode

*.so
*.dylib
*.dll

/build
/dist

/ntcore/include
/ntcore/lib
/ntcore/_init_ntcore.py
/ntcore/pkgcfg.py
/ntcore/version.py
/ntcore/py.typed
/ntcore/rpy-include