[build-system]
requires = [
  "robotpy-build<2023.0.0,>=2022.2.0",
  "robotpy-wpiutil<2023.0.0,>=2022.2.1.1",
]

[tool.robotpy-build]
base_package = "_pyntcore"

[tool.robotpy-build.wrappers."_pyntcore".maven_lib_download]
artifact_id = "ntcore-cpp"
group_id = "edu.wpi.first.ntcore"
repo_url = "https://frcmaven.wpi.edu/artifactory/release"
version = "2022.2.1"

libs = ["ntcore"]

[tool.robotpy-build.wrappers."_pyntcore"]
name = "ntcore"
sources = [
    "_pyntcore/src/ntcore.cpp",
    "_pyntcore/src/nt_logging.cpp",
    "_pyntcore/src/py2value.cpp",
    "_pyntcore/src/pyentry.cpp",
]

depends = ["wpiutil"]
generation_data = "gen"

[tool.robotpy-build.wrappers."_pyntcore".autogen_headers]
# networktables
# EntryListenerFlags = "networktables/EntryListenerFlags.h"     .. already in NetworkTableInstance.cpp.inl
NTSendable = "networktables/NTSendable.h"
NTSendableBuilder = "networktables/NTSendableBuilder.h"
NetworkTable = "networktables/NetworkTable.h"
NetworkTableEntry = "networktables/NetworkTableEntry.h"
NetworkTableInstance = "networktables/NetworkTableInstance.h"
NetworkTableType = "networktables/NetworkTableType.h"
NetworkTableValue = "networktables/NetworkTableValue.h"
# RpcCall = "networktables/RpcCall.h"
# TableEntryListener = "networktables/TableEntryListener.h"
# TableListener = "networktables/TableListener.h"

# ntcore = "ntcore.h"
# ntcore_c = "ntcore_c.h"
ntcore_cpp = "ntcore_cpp.h"
# ntcore_test = "ntcore_test.h"


[tool.robotpy-build.metadata]
name = "pyntcore"
description = "Binary wrappers for the FRC ntcore library"
author = "RobotPy Development Team"
author_email = "robotpy@googlegroups.com"
url = "https://github.com/robotpy/pyntcore"
license = "BSD-3-Clause"
install_requires = [
    "robotpy-wpiutil<2023.0.0,>=2022.2.1.1",
    "pynetworktables>=2021.0.0,<2022.0.0",
]
