
*.pyc
*.egg-info

*.dll
*.so
*.dylib

.vscode

/build
/dist
*.egg-info

/halsim_gui/version.py
/halsim_gui/lib
/halsim_gui/include

/halsim_gui/_ext/_init__halsim_gui_ext.py
/halsim_gui/_ext/halsim_gui_ext.pc
