
*.pyc
*.egg-info

*.dll
*.so
*.dylib

.vscode

/build
/dist
*.egg-info

/halsim_gui/_init_halsim_gui.py
/halsim_gui/pkgcfg.py
/halsim_gui/version.py
/halsim_gui/include
/halsim_gui/lib

/halsim_gui/_ext/_halsim_gui_ext
/halsim_gui/_ext/_init_halsim_gui_ext.py
/halsim_gui/_ext/pkgcfg.py
/halsim_gui/py.typed