[build-system]
requires = [
    "robotpy-build>=2020.4.1,<2021.0.0",
    "robotpy-wpiutil>=2021.2.1.0,<2022.0.0",
    "robotpy-wpimath>=2021.2.1.0,<2022.0.0",
    "robotpy-hal>=2021.2.1.0,<2022.0.0",
    "pyntcore>=2021.2.1.0,<2022.0.0",
]

[tool.robotpy-build]
base_package = "halsim_gui"


[tool.robotpy-build.wrappers."halsim_gui".maven_lib_download]
artifact_id = "halsim_gui"
group_id = "edu.wpi.first.halsim"
# repo_url = "https://frcmaven.wpi.edu/artifactory/release"
repo_url = "https://frcmaven.wpi.edu/artifactory/development"
version = "2021.2.1-10-gc517ec6"

dlopenlibs = ["halsim_gui"]

# TODO: make this a namespace package?
[tool.robotpy-build.wrappers."halsim_gui"]
name = "halsim_gui"
depends = ["wpiutil", "wpiHal", "ntcore", "wpimath_cpp"]

[tool.robotpy-build.metadata]
name = "robotpy-halsim-gui"
description = "WPILib command framework"
author = "RobotPy Development Team"
author_email = "robotpy@googlegroups.com"
url = "https://github.com/robotpy/robotpy-halsim-gui"
license = "BSD-3-Clause"
install_requires = [
    "robotpy-wpiutil>=2021.2.1.0,<2022.0.0",
    "robotpy-wpimath>=2021.2.1.0,<2022.0.0",
    "robotpy-hal>=2021.2.1.0,<2022.0.0",
    "pyntcore>=2021.2.1.0,<2022.0.0",
]