*.py[ciod]
__pycache__
*.egg-info
.venv
.coverage
.vscode
htmlcov
*,cover
.cache
.pytest_cache/

*.so
*.dll
*.dylib

build 
dist
MANIFEST

/wpimath/pkgcfg.py
/wpimath/version.py
/wpimath/_init_wpimath.py
/wpimath/_controls/_init_controls.py
/wpimath/_controls/pkgcfg.py
/wpimath/geometry/_init_geometry.py
/wpimath/geometry/pkgcfg.py
/wpimath/interfaces/_init_interfaces.py
/wpimath/interfaces/pkgcfg.py
/wpimath/kinematics/_init_kinematics.py
/wpimath/kinematics/pkgcfg.py
/wpimath/spline/_init_spline.py
/wpimath/spline/pkgcfg.py
/wpimath/trajectory/_init_trajectory.py
/wpimath/trajectory/pkgcfg.py

rpy-include
/wpimath/_impl/_init_wpimath_cpp.py
/wpimath/_impl/pkgcfg.py
/wpimath/_impl/include
/wpimath/_impl/lib



version.py

# Eclipse project files
.project
.pydevproject
.settings

# Installer files
/installer/pip_cache
/installer/opkg_cache
/installer/.installer_config

/installer/win32/*.exe

#PyCharm Project files
*.iml
.idea/*
.pycharmproject


# deploy files
.deploy_cfg
.DS_Store
