*.py[ciod]
__pycache__
*.egg-info
.venv
.coverage
.vscode
htmlcov
*,cover
.cache
.pytest_cache/

*.so
*.dll
*.dylib

build 
dist
MANIFEST

/wpilib/wpilib.pc
/wpilib/trampolines
/wpilib/version.py
/wpilib/_init__wpilib.py
/wpilib/counter/_init__counter.py
/wpilib/counter/wpilib_counter.pc
/wpilib/counter/trampolines
/wpilib/drive/_init__drive.py
/wpilib/drive/wpilib_drive.pc
/wpilib/drive/trampolines
/wpilib/event/_init__event.py
/wpilib/event/wpilib_event.pc
/wpilib/event/trampolines
/wpilib/interfaces/_init__interfaces.py
/wpilib/interfaces/wpilib_interfaces.pc
/wpilib/interfaces/trampolines
/wpilib/shuffleboard/_init__shuffleboard.py
/wpilib/shuffleboard/wpilib_shuffleboard.pc
/wpilib/shuffleboard/trampolines
/wpilib/simulation/_init__simulation.py
/wpilib/simulation/wpilib_simulation.pc
/wpilib/simulation/trampolines

rpy-include



version.py

# Eclipse project files
.project
.pydevproject
.settings

# Installer files
/installer/pip_cache
/installer/opkg_cache
/installer/.installer_config

/installer/win32/*.exe

#PyCharm Project files
*.iml
.idea/*
.pycharmproject


# deploy files
.deploy_cfg
.DS_Store
