*.py[ciod]
*.egg-info

*.so
*.dll
*.dylib

.vscode

__pycache__
/wpiutil/include
/wpiutil/lib
/wpiutil/_init_wpiutil.py
/wpiutil/pkgcfg.py
/wpiutil/version.py
/dist
/build

/tests/cpp/build
/tests/cpp/wpiutil_test/_initmodule.py
/tests/cpp/wpiutil_test/pkgcfg.py
/tests/cpp/wpiutil_test/version.py