*.py[ciod]
*.egg-info
__pycache__
.vscode

*.so
*.dylib
*.dll

/build
/dist

/robotpy_apriltag/include
/robotpy_apriltag/lib
/robotpy_apriltag/_init_apriltag.py
/robotpy_apriltag/pkgcfg.py
/robotpy_apriltag/version.py
/robotpy_apriltag/py.typed
/robotpy_apriltag/rpy-include