*.py[ciod]
*.egg-info

*.so
*.dll
*.dylib

.vscode

__pycache__
/hal/trampolines
/hal/_init__wpiHal.py
/hal/version.py
/hal/wpihal.pc
/hal/simulation/_init__simulation.py
/hal/simulation/hal_simulation.pc
/hal/simulation/trampolines

/dist
/build