*.py[ciod]
*.egg-info

*.so
*.dll
*.dylib

.vscode

__pycache__
/hal/include
/hal/lib
/hal/rpy-include
/hal/_init_wpiHal.py
/hal/py.typed
/hal/pkgcfg.py
/hal/version.py
/hal/simulation/_init_simulation.py
/hal/simulation/pkgcfg.py

/dist
/build