
*.pyc
*.egg-info

*.dll
*.so
*.dylib

.vscode

/build
/dist
*.egg-info

/halsim_ds_socket/_init_halsim_ds_socket.py
/halsim_ds_socket/pkgcfg.py
/halsim_ds_socket/version.py
/halsim_ds_socket/include
/halsim_ds_socket/lib
