*.py[ciod]
*.egg-info

*.so
*.dll
*.dylib

.vscode

__pycache__
/wpinet/include
/wpinet/lib
/wpinet/py.typed
/wpinet/_init_wpinet.py
/wpinet/pkgcfg.py
/wpinet/version.py
/dist
/build

/tests/cpp/build
/tests/cpp/wpinet_test/_initmodule.py
/tests/cpp/wpinet_test/pkgcfg.py
/tests/cpp/wpinet_test/version.py